# dependencies
node_modules/

# build outputs
.next/
dist/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local

# typescript
*.tsbuildinfo

# misc
.DS_Store
*.pem
.vercel

# debug
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
